body
{
	margin:		0 auto 0 auto;
	max-width:	55em;
	background:	#800;
	padding:	0;
}

#header {
	position:	relative;
	top:		0;
	margin:		0 0 0 0em;
	padding:	5pt;
	padding-bottom: 0pt;
	text-align:	left;
	font-size:	130px;
	height:		200px;
	z-index:	3;
	font-family:	"GFS Didot", serif;
}

#header .txt {
	position:	relative;
	z-index:	3;
}

#header img {
	position:	relative;
	top:		-50px;
	vertical-align: text-top;
	margin-right:   -140px;
	height:		310px;
	z-index:	2;
}

a
{
	color:		#006;
}

a img {
	border:		none;
}

a:hover
{
	color:		#606;
}

a:visited
{
	color:		#600;	
}

#centred-content
{
	border-left: solid 1em gray;
	border-right: solid 1em gray;
	margin: 0;
	padding: 0;
	background-color: white;
	background-repeat: no-repeat;
	text-align:	right;
}

.block img {
	/*background: white;
	border: solid thin black;*/
	padding: 1em;
}

.block {
	text-align:	justify;
	opacity:	0.95;
	filter:		alpha(opacity=90);
	position:	relative;
	margin:		0em;
	margin-bottom:	1em;
	padding:	1em;
	border-top:	solid medium black;
	background:	#ddd;
	font: 		normal 14pt/22pt serif;
	font-family:	"Bitstream Charter", serif;
}

sup {
	position:	relative;
	font-size:	10pt;
	margin-top:	-10pt;
}

tt {	
	font-family:	"Inconsolata", fixed;
	color:		#600;
}

pre {	
	font-family:	"Inconsolata", fixed;
	color:		#600;
	margin-left:	2em;
}

h2
{
	border-bottom:	dotted thin black;
	font-family:	"GFS Didot", "Bitstream Charter", serif;
	color:	#500;
	margin: 0;
	margin-bottom: 2pt;
	padding-top:	0em;
	padding-left:	2em;
	padding-bottom: 0.2em;
}

.block p {
	text-align:	justify;
}

.block img {
	opacity:	1.0;
	margin:		0em 5% 0em 5%;
	max-width:		90%;
}

.block .illustration
{
	opacity:	1.0;
	float: right; 
	position: relative; 
	top: -5em; right: -6em;
	margin-bottom: -5em;
	margin-left: -5em;
	-moz-border-radius: 0.5em; 
	-webkit-border-radius:	0.5em;
	-o-border-radius: 0.5em; 
	border-radius: 0.5em; 
	border: solid 3px black;
	width: 200px;
	height: 200px;
}

#why .illustration
{
	background: url('gorilla.jpg');
}

#state .illustration
{
	background: url('butterfly.jpg');
}

#navigation
{
	font:		normal 12pt/21pt Inconsolata, monospace, sans-serif;
	margin:		0;
	padding:	0pt 5pt 2pt 5pt;
	background:	white;
	border-top:	double medium black;
}

.exhibit {
	display: table-row;
}

.exhibit .caption {
	display: table-cell;
	float:left;
	width: 49%;
	border-top: 10pt solid gray;
}

.exhibit img {
	position:relative;
	float: right;
	display: table-cell;
	width: 40%;
	margin: 0;
}

address
{
	font:		normal 12pt/17pt Inconsolata, monospace, sans-serif;
	margin:		0;
	padding:	0pt 5pt 0pt 5pt;
	background:	white;
	border-top:	double medium black;
}


